@model WorkFlowResponseModel
<div>
    <form method="get" action="CPROChain\GetCaseDetails">
        <table class="tableborder">
            <tr>
                <td class="bold">                    
                    Case ID :                              
                </td>
                <td>                    
                    <input id="caseId" name="caseId" type="text" value="100016">                              
                </td>
                <td>                    
                    <div>                    
                        <input type="submit" value="Find" />
                    </div>                          
                </td>
            </tr>         
        </table>
    </form>
</div>