@model WorkFlowResponseModel
<div>
    <table class="tableborder" style="width:50%">
        <tr>
            <td style="color:blue; background-color:blue; color:white;">          
                List of Activity Chain
            </td>
        </tr>  
         <tr>
            <td>          
                License Suspension
            </td>
        </tr>      
        <tr>
            <td>          
                Establishment process
            </td>
        </tr>   
        <tr>
            <td>          
                <a class="navlinkcolor" asp-area="" asp-controller="CPROChain" asp-action="ShowStartRemedy" asp-route-caseId=@Model.CaseDetailsModel?.CaseId>Genetic Test</a>          
            </td>            
        </tr>   
        <tr>
            <td>          
                VAP Appointment
            </td>
        </tr>   
        <tr>
            <td>          
                Case Closure
            </td>
        </tr>   
    </table>
</div>