@model WorkFlowResponseModel
<div>
    <table class="tableborder" style="width:50%">
        <tr>
            <td style="color:blue; background-color:blue; color:white;" class="tableborder">          
                List of Activity Chain
            </td>
            <td style="color:blue; background-color:blue; color:white;" class="tableborder">          
                Current Status
            </td>
        </tr>  
         <tr>
            <td class="tdbottomborder">          
                License Suspension
            </td>
            <td class="tdbottomborder">                                                                                               
            </td> 
        </tr> 
         <tr>
            <td class="tdbottomborder">          
                <a class="navlinkcolor" asp-area="" asp-controller="CPROChain" asp-action="ShowStartRemedy" asp-route-caseId=@Model.CaseDetailsModel?.CaseId asp-route-majorActivity="ESTP">Establishment Process</a>          
            </td>   
            <td class="tdbottomborder">                                                                       
              <span style="color:blue;font-weight:bold;">Yet To Start</span>             
            </td> 
        </tr>         
        <tr>
            <td class="tdbottomborder">          
                <a class="navlinkcolor" asp-area="" asp-controller="CPROChain" asp-action="ShowStartRemedy" asp-route-caseId=@Model.CaseDetailsModel?.CaseId asp-route-majorActivity="GTST">Genetic Test</a>          
            </td>   
            <td class="tdbottomborder">                                                                       
              <span style="color:blue;font-weight:bold;">Yet To Start</span>             
            </td> 
        </tr>   
        <tr>
            <td class="tdbottomborder">          
                VAP Appointment
            </td>
            <td class="tdbottomborder">                                                                                               
            </td> 
        </tr>   
        <tr>
            <td class="tdbottomborder">          
                Case Closure
            </td>
            <td class="tdbottomborder">                                                                                               
            </td> 
        </tr>         
    </table>
</div>