@model WorkFlowResponseModel
<div>
    <table class="tableborder">
        <tr>
            <td style="color:blue; background-color:blue; color:white;" colspan="5">                    
                CPRO - Case Processor                            
            </td>
        </tr>                        
        <tr>
            <td>                    
                CP <br /><input type="text" disabled value=@Model.CaseId>  <br /><input type="text" disabled value="VAVALA, DEBORA ANN">                                                                  
            </td>
            <td>                    
                 Case Type <br /><input type="text" disabled value="N-NON-PA">                        
            </td>
             <td>                    
                 IV-A/ IV-E Case ID <br /><input type="text" disabled value="">                                  
            </td>           
             <td>
                ENF Status <br /><input type="text" disabled value="WORK-WORKABLE"> 
            </td>
            <td>
                
            </td>            
        </tr>  
        <tr>
            <td>
                NCP <br /><input type="text" disabled value="0000422891- GONZALES, MICHAELA"> 
            </td>
            <td>
                Case Status <br /><input type="text" disabled value="O- OPEN">
            </td>
            <td>
                Family Violence <br /><input type="text" disabled value="N- NO">
            </td>
            <td>
                Arrears Only <br /><input type="text" disabled value="N- NO">
            </td>
            <td>
                Special Alert
            </td>
        </tr>
        <tr>
            <td>
                County <br /><input type="text" disabled value="03- NEW CASTLE COUNTY">
            </td>
            <td>
                Intergovernmental <br /><input type="text" disabled value="I- INITIATING S">
            </td>
            <td>
                File Number <br /><input type="text" disabled value="UR00175811">
            </td>
            <td>
                Category <br /><input type="text" disabled value="FS- FULL SERVICES">
            </td>
            <td>

            </td>
        </tr>
    </table>
</div>