@model WorkFlowResponseModel
<div>    
    <div>        
        <table class="tableborder">
             <tr>
                <td style="background-color:blue; color:white;">          
                    Action
                </td>
                <td style="background-color:blue; color:white;">
                    Status
                </td>
                <td style="background-color:blue; color:white;">
                    Started on
                </td>
            </tr>          
            <tr>
                <td>
                @{
                    string activityName = Model.Processdefinition.InitialActivity.Name;
                    string nextActivityName = "";
                    bool isFinalActivity = false; 
                    string finalActivityName = "";
                    bool isStatusSet = false;
                    @if(Model.CurrentActivityName == activityName)
                    {
                        <a class="navlinkcolor" asp-area="" asp-controller="CPROChain" asp-action="UpdateActivity" asp-route-processId=@Model.ProcessId asp-route-caseId=@Model.CaseDetailsModel?.CaseId>@activityName</a>                     
                    }
                    else
                    {
                    <span>@activityName</span>
                    }            
                    @foreach(var data in Model.Processdefinition.Transitions.Where(d => d.From.Name == @Model.Processdefinition.InitialActivity.Name))
                    {
                        nextActivityName = data.To.Name;
                        isFinalActivity = false;                    
                    }
                }
                </td>
                <td>                                                            
                @if(Model.CurrentActivityName == activityName)
                {
                <span style="color:blue;font-weight:bold;">IN PROGRESS</span> 
                }                
                </td>                 
            </tr>         
            @while(!isFinalActivity)
            {
                @foreach(var data in Model.Processdefinition.Transitions.Where(d => d.From.Name == nextActivityName))
                {
                    activityName = data.From.Name;
                    nextActivityName = data.To.Name;
                    isFinalActivity = data.To.IsFinal;                     
                    @if(isFinalActivity)
                    {
                        finalActivityName = data.To.Name;
                    }
                    <tr>
                        @if (Model.CurrentActivityName == activityName)
                        {
                        <td>                        
                            <a class="navlinkcolor" asp-area="" asp-controller="CPROChain" asp-action="UpdateActivity" asp-route-processId=@Model.ProcessId asp-route-caseId=@Model.CaseDetailsModel?.CaseId>@nextActivityName</a>  
                        </td> 
                        <td>                                      
                            <span style="color:blue;font-weight:bold;">IN PROGRESS</span>                     
                        </td>
                        }
                        else
                        {
                        <td>                        
                             @nextActivityName
                        </td> 
                        <td>           
                        @if(isFinalActivity && Model.CurrentActivityName == finalActivityName)
                        {
                            <span style="color:red;font-weight:bold;">CLOSED</span>   
                        }
                        </td>  
                        }
                    </tr>        
                }
            }       
        </table> 
    </div>
</div>