@code {
}
@using WorkflowEngineMVC.ViewModels;
@inject List<CommandViewModel> Model
<div id="wfgrid" style="min-height:600px; max-width: 1200px;">
    @if(Model.Count>0)
    {
        <div>        
            <b>Current State Name: @Model.FirstOrDefault().CurrentStateName</b>
        </div>
        <br />
        <div>        
            <b>Current Activity Name: @Model.FirstOrDefault().CurrentActivityName</b>
        </div>
    }
    <br/>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>                    
                        <a class="nav-link text-dark" asp-area="" asp-controller="CPRO" asp-action="ProcessCommand" asp-route-commandName=@item.CommandName>@item.CommandName</a>
                </td>
            </tr>
            @*<tr>
                <td>                    
                    <a class="nav-link text-dark" asp-area="" asp-controller="CPRO" asp-action="ProcessState" asp-route-stateName=@item.StateName>@item.StateName</a>
                </td>
            </tr>*@
        }
    </table>
</div>
