@using System.Text.Json;
@model WorkFlowResponseModel
<div>
    <table class="tableborder">
        <tr>
            <td style="color:blue; background-color:blue; color:white;" colspan="5">                    
                CPRO - Case Processor                            
            </td>
        </tr>                        
        <tr>
            @if (Model != null)
            {
                <td>                     
                   <span class="bold">CP</span> <br /><input type="text" disabled value= @Model.CaseDetailsModel?.CP />  <br /><input type="text" disabled value= @(Model.CaseDetailsModel?.CPLastName + "," + Model.CaseDetailsModel?.CPFirstName) />                                                                  
                </td>
            }
            else
            {
                <td>                    
                    <span class="bold">CP</span> <br /><input type="text" disabled value="" />  <br /><input type="text" disabled value="" />                                                                  
                </td>
            }
            <td>                    
                 <span class="bold">Case Type</span> <br /><input type="text" disabled value="N-NON-PA" />                        
            </td>
             <td>                    
                 <span class="bold">IV-A/ IV-E Case ID</span> <br /><input type="text" disabled value="" />                                  
            </td>           
             <td>
                <span class="bold">ENF Status</span> <br /><input type="text" disabled value="WORK-WORKABLE" /> 
            </td>
            <td>
                
            </td>            
        </tr>  
        <tr>
             @if (Model != null)
            {
                <td>
                    <span class="bold">NCP</span> <br /><input type="text" disabled value=@(Model.CaseDetailsModel?.NCP + "-" + Model.CaseDetailsModel?.NCPLastName + "," + Model.CaseDetailsModel?.NCPFirstName) /> 
                </td>
            }
            else
            {
                <td>
                    <span class="bold">NCP</span> <br /><input type="text" disabled value="" /> 
                </td>
            }
            <td>
                <span class="bold">Case Status</span> <br /><input type="text" disabled value="O- OPEN" />
            </td>
            <td>
                <span class="bold">Family Violence</span> <br /><input type="text" disabled value="N- NO" />
            </td>
            <td>
                <span class="bold">Arrears Only</span> <br /><input type="text" disabled value="N- NO" />
            </td>
            @{                        
                var wfJsonModel = JsonSerializer.Serialize(Model);  
            } 
            @if (Model?.CPROUserAlertModel != null)
            {
                <td>
                     <a class="navlinkcolor" asp-area="" asp-controller="CPROChain" asp-action="ShowCPROAlerts" asp-route-jsonString=@wfJsonModel>Special Alert</a>                               
                </td>
            }
            else
            {
                <td>
                     Special Alert
                </td> 
            }
        </tr>
        <tr>
            <td>
                <span class="bold">County</span> <br /><input type="text" disabled value="03- NEW CASTLE COUNTY" />
            </td>
            <td>
                <span class="bold">Intergovernmental</span> <br /><input type="text" disabled value="I- INITIATING S" />
            </td>
            <td>
                <span class="bold">File Number</span> <br /><input type="text" disabled value="UR00175811" />
            </td>
            <td>
                <span class="bold">Category</span> <br /><input type="text" disabled value="FS- FULL SERVICES" />
            </td>
            <td>

            </td>
        </tr>
    </table>
</div>