@{
    ViewBag.Title = "CPRO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wfgrid" style="min-height:600px; max-width: 1200px;">
    <table>
        <tr>
            <td>                    
                <a class="nav-link text-dark" asp-area="" asp-controller="CPROChain" asp-action="StartRemedy">Start the remedy</a>                               
            </td>
        </tr>
    </table>

</div>