@model WorkFlowResponseModel
<div class="modal fade show d-block " id="divModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="divSchedulerModal" role="document" style="max-width: 40% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Start New Remedy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#divSchedulerModal').hide();$('#divModal').removeClass('d-block');">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="dialg" title="Definition: Knowledge">                
                    <table style="margin: 0 auto;" class="tableborder">
                        <tr>
                            <td>                    
                                Case ID :                              
                            </td>
                            <td>                    
                                <input type="text" value=@Model.CaseDetailsModel?.CaseId>                              
                            </td>
                        </tr>
                            <tr>
                            <td>                    
                                Remedy :                         
                            </td>
                            <td>                    
                                <input type="text" value="GTST - Genetic Test">                              
                            </td>
                        </tr>
                            <tr>
                            <td>                    
                                Source Type :                        
                            </td>
                            <td>                    
                                <input type="text" value="P-PUTATIVE FATHER">                              
                            </td>
                        </tr>
                            <tr>
                            <td>                    
                                Reference Type :                             
                            </td>
                                <td>                    
                                <input type="text" value="S_DNA TYPING - BUCCAL SWAP" >                              
                            </td>
                        </tr>
                            <tr>
                            <td>                    
                                File Number :                           
                            </td>
                            <td>                    
                                <input type="text" value="UR0017811" >                              
                            </td>
                        </tr>
                            <tr>
                            <td>                    
                                Process :                          
                            </td>
                            <td>                    
                                <input type="text" value="ES-ESTABLISHMENT">                              
                            </td>
                        </tr>
                            <tr>
                            <td>                    
                                Source Name :              
                            </td>
                            <td>                    
                                <input type="text" value="">                              
                            </td>
                        </tr>
                            <tr>
                            <td>                    
                                Reference ID :  
                            </td>
                            <td>                    
                                <input type="text" value="">                              
                            </td>
                            <br />
                        </tr>         
                        <tr style="text-align:center">
                            <td></td>
                            <td> 
                                <div class="button">
                                    <a class="nav-link text-white" asp-area="" asp-controller="CPROChain" asp-action="StartRemedy" asp-route-caseId=@Model.CaseDetailsModel?.CaseId>Start New Remedy</a>                               
                                </div>
                            </td>
                        </tr>
                    </table>
               </div>                    
            </div>            
        </div>
    </div>
</div>