@{
    ViewBag.Title = "CPRO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CaseDetailsModel
<div>
    <table style="margin: 0 auto;" class="tableborder">
        <tr>
            <td style="color:blue; background-color:blue; color:white;" colspan="2">                    
                Start New Remedy                            
            </td>
        </tr>
        <tr>
            <td>                    
                Case ID :                              
            </td>
            <td>                    
                <input type="text" value=@Model.CaseId>                              
            </td>
        </tr>
         <tr>
            <td>                    
                Remedy :                         
            </td>
            <td>                    
                <input type="text" value="GTST - Genetic Test">                              
            </td>
        </tr>
         <tr>
            <td>                    
                Source Type :                        
            </td>
            <td>                    
                <input type="text" value="P-PUTATIVE FATHER">                              
            </td>
        </tr>
         <tr>
            <td>                    
                Reference Type :                             
            </td>
             <td>                    
                <input type="text" value="S_DNA TYPING - BUCCAL SWAP" >                              
            </td>
        </tr>
         <tr>
            <td>                    
                File Number :                           
            </td>
            <td>                    
                <input type="text" value="UR0017811" >                              
            </td>
        </tr>
         <tr>
            <td>                    
                Process :                          
            </td>
            <td>                    
                <input type="text" value="ES-ESTABLISHMENT">                              
            </td>
        </tr>
         <tr>
            <td>                    
                Source Name :              
            </td>
            <td>                    
                <input type="text" value="">                              
            </td>
        </tr>
         <tr>
            <td>                    
                Reference ID :  
            </td>
            <td>                    
                <input type="text" value="">                              
            </td>
            <br />
        </tr>         
        <tr style="text-align:center">
            <td></td>
            <td> 
                <div class="button">
                    <a class="nav-link text-white" asp-area="" asp-controller="CPROChain" asp-action="StartRemedy" asp-route-caseId=@Model.CaseId>Start New Remedy</a>                               
                </div>
            </td>
        </tr>
    </table>

</div>