@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Microsoft.AspNetCore.Mvc.ViewFeatures;
@using System.Net.Http.Headers;
@*@model List<WorkflowEngineMVC.ViewModels.StateViewModel>*@
@{
    ViewBag.Title = "CPRO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WorkFlowResponseModel
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>  
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>  
<div>
    <div >  
        @Html.PartialAsync("CPRORibbon",Model).Result  
    </div>
    <br />
    <br />
    <div>
        <table class="tableborder">                                                                            
                @foreach (var command in Model.ListCommandModel)
                {   
                 <tr>  
                     <td>                                             
                            <a class="navlinkcolor" asp-area="" asp-controller="CPROChain" asp-action="ProcessCommand" asp-route-processId=@command.ProcessId asp-route-commandName=@command.CommandName>@command.CommandName</a> 
                     </td>  
                 </tr>        
                }                                  
        </table>
    </div>
</div>