@code {
}
@using WorkflowEngineMVC.Models;
@inject List<CommandModel> Model
<div id="wfgrid" style="min-height:600px; max-width: 1200px;">
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>                    
                        <a class="nav-link text-dark" asp-area="" asp-controller="CPRO" asp-action="ProcessCommand" asp-route-commandName=@item.CommandName>@item.CommandName</a>
                </td>
            </tr>
            @*<tr>
                <td>                    
                    <a class="nav-link text-dark" asp-area="" asp-controller="CPRO" asp-action="ProcessState" asp-route-stateName=@item.StateName>@item.StateName</a>
                </td>
            </tr>*@
        }
    </table>
</div>
